@model SpaceBook.ViewModels.EditFacilityPhotoViewModel

@{
    ViewBag.Title = "Edit Facility Photo";
}

<h1 style="margin: 2% 0% 2% 0%" align="center">Edit Facility Photo</h1>


@using (Html.BeginForm("EditFacilityPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row justify-content-center">
        <div class="col-6">
            <p style="margin: 0% 0% 5% 0%" align="center">Your facility's current photo is shown below. To change this photo please upload a photo...</p>
            <hr />
            <div style="text-align: center">
                <img class="card-img-top" src="@Url.Content("~/Content/FacilityPhotos/" + Model.facility.FacilityPhotoFileName.ToString())" alt="Card image cap" style="width:50% ; height:50%" />
                <br />
                <h4 style="margin-top: 4%">Current facility photo</h4>
            </div>
            <br />
            <hr />
            <div class="form-group" style="text-align: center">
                <h4>Update your facility photo</h4>
                <input type="file" name="FacilityPhotoFile" class="btn btn-default" />
            </div>
            @Html.HiddenFor(x => x.facility.Id)
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Update" class="btn btn-primary" style="margin-left: 5%" />
            </div>

        </div>
    </div>
}

