
@{
    ViewBag.Title = "ViewFacility";
}
<br />

<div class="col-md-3">
    <h2>View Facility</h2>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mosaic Stadium</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <hr />
                <p class="card-text">Hourly booking rate: $200</p>
                <hr />
                <p><span class="fa fa-map-marker fa-fw"></span> 700 Elphinstone St, Regina, SK S4P 2Z6</p>
                <p><span class="fa fa-phone fa-fw"></span> (306) 781-9200</p>
                <p><span class="fa fa-envelope fa-fw"></span> booking@mosaicstadium.com</p>
                <hr />
                <button type="button" onclick="location.href='@Url.Action("ViewFacility", "Home")'" class="btn btn-primary"><span class="fa fa-calendar fa-fw"></span> View Availability</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last booked 3 weeks ago</small>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <img class="card-img-top" src="\Content\Images\MosaicStadium.jpg" alt="Card image cap" height="300" width="42">
    </div>
</div>

