@model SpaceBook.Models.User

@{
    ViewBag.Title = "ViewUserProfile";
}

<h2>
    @Html.DisplayFor(model => model.FirstName)
    @Html.DisplayFor(model => Model.LastName)
</h2>

<div>
    <div class="col-md-10">
        <img class="card-img-top" src="~\Content\Images\Skyline.jpg" alt="IMAGE_HERE" />
    </div>
    <div class="col-md-10">
        <label>Phone Number: </label>
        @Html.DisplayFor(model => model.Phone)
    </div>
    <div class="col-md-10">
        <label>Email Address: </label>
        @Html.DisplayFor(model => model.Email)
    </div>
</div>
