@model SpaceBook.ViewModels.RegisterFacilityViewModel
@{
    ViewBag.Title = "Regsiter your facility";
    double rate = Model.DefaultHourlyRate;
}
<h1 style="margin: 2% 0% 2% 0%" align="center">Register your Facility</h1>

<div class="row justify-content-center" style="margin: 2% 0% 2% 0%">
    <div class="col-8">
        <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Availability - Step 3 of 3
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("RegisterFacilityComplete", "Home", Model, FormMethod.Post, new { id = "postVenueForm" }))
{
    <div class="row justify-content-center">
        <div class="col-8">
            <h4 style="margin: 0% 0% 5% 0%" align="center">Facility Availability</h4>
            <div class="form-group" style="margin: 0% 0% 0% 0%">
                <div class="" style="float: left">
                    <h6>Monday</h6>
                </div>
                <div id="mondayHoursContainer" class="offset-2"></div>
                <div style="clear: left">
                    <button type="button" onclick="newStartAndEndTime('monday')" class="btn btn-sm btn-success">Add +</button>
                </div>
            </div>
            <hr />

            <div class="form-group" style="margin: 0% 0% 0% 0%">
                <div class="" style="float: left">
                    <h6 id="dis">Tuesday</h6>
                </div>
                <div id="tuesdayHoursContainer" class="offset-2"></div>
                <div style="clear: left">
                    <button type="button" onclick="newStartAndEndTime('tuesday')" class="btn btn-sm btn-success">Add +</button>
                </div>
            </div>
            <hr />

            <div class="form-group" style="margin: 0% 0% 0% 0%">
                <div class="" style="float: left">
                    <h6>Wednesday</h6>
                </div>
                <div id="wednesdayHoursContainer" class="offset-2"></div>
                <div style="clear: left">
                    <button type="button" onclick="newStartAndEndTime('wednesday')" class="btn btn-sm btn-success">Add +</button>
                </div>
            </div>
            <hr />

            <div class="form-group" style="margin: 0% 0% 0% 0%">
                <div class="" style="float: left">
                    <h6>Thursday</h6>
                </div>
                <div id="thursdayHoursContainer" class="offset-2"></div>
                <div style="clear: left">
                    <button type="button" onclick="newStartAndEndTime('thursday')" class="btn btn-sm btn-success">Add +</button>
                </div>
            </div>
            <hr />

            <div class="form-group" style="margin: 0% 0% 0% 0%">
                <div class="" style="float: left">
                    <h6>Friday</h6>
                </div>
                <div id="fridayHoursContainer" class="offset-2"></div>
                <div style="clear: left">
                    <button type="button" onclick="newStartAndEndTime('friday')" class="btn btn-sm btn-success">Add +</button>
                </div>
            </div>
            <hr />

            <div class="form-group" style="margin: 0% 0% 0% 0%">
                <div class="" style="float: left">
                    <h6>Saturday</h6>
                </div>
                <div id="saturdayHoursContainer" class="offset-2"></div>
                <div style="clear: left">
                    <button type="button" onclick="newStartAndEndTime('saturday')" class="btn btn-sm btn-success">Add +</button>
                </div>
            </div>
            <hr />

            <div class="form-group" style="margin: 0% 0% 0% 0%">
                <div class="" style="float: left">
                    <h6>Sunday</h6>
                </div>
                <div id="sundayHoursContainer" class="offset-2"></div>
                <div style="clear: left">
                    <button type="button" onclick="newStartAndEndTime('sunday')" class="btn btn-sm btn-success">Add +</button>
                </div>
            </div>
            <hr />

            <input type="hidden" id="monStart" name="monStart" value="" />
            <input type="hidden" id="tueStart" name="tueStart" value="" />
            <input type="hidden" id="wedStart" name="wedStart" value="" />
            <input type="hidden" id="thuStart" name="thuStart" value="" />
            <input type="hidden" id="friStart" name="friStart" value="" />
            <input type="hidden" id="satStart" name="satStart" value="" />
            <input type="hidden" id="sunStart" name="sunStart" value="" />

            <input type="hidden" id="monEnd" name="monEnd" value="" />
            <input type="hidden" id="tueEnd" name="tueEnd" value="" />
            <input type="hidden" id="wedEnd" name="wedEnd" value="" />
            <input type="hidden" id="thuEnd" name="thuEnd" value="" />
            <input type="hidden" id="friEnd" name="friEnd" value="" />
            <input type="hidden" id="satEnd" name="satEnd" value="" />
            <input type="hidden" id="sunEnd" name="sunEnd" value="" />

            <input type="hidden" id="monRate" name="monRate" value="" />
            <input type="hidden" id="tueRate" name="tueRate" value="" />
            <input type="hidden" id="wedRate" name="wedRate" value="" />
            <input type="hidden" id="thuRate" name="thuRate" value="" />
            <input type="hidden" id="friRate" name="friRate" value="" />
            <input type="hidden" id="satRate" name="satRate" value="" />
            <input type="hidden" id="sunRate" name="sunRate" value="" />

            <div class="form-group" style="text-align:center">
                <button value="Back" type="button" onclick="location.href='@Url.Action("RegisterFacilityInfo", Model)'" class="btn btn-danger" style="margin-right: 5%">Back</button>
                <input type="submit" value="Register" class="btn btn-primary" style="margin-left: 5%" />
            </div>
            <div id="errorMessage" style="text-align:center" class="text-danger">
                <span>Please confirm there are no conflicting entries</span>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    //store the start and end times for each time period defined by the user

    var monStartTimes = [];
    var tueStartTimes = [];
    var wedStartTimes = [];
    var thuStartTimes = [];
    var friStartTimes = [];
    var satStartTimes = [];
    var sunStartTimes = [];

    var monEndTimes = [];
    var tueEndTimes = [];
    var wedEndTimes = [];
    var thuEndTimes = [];
    var friEndTimes = [];
    var satEndTimes = [];
    var sunEndTimes = [];

    var monRates = [];
    var tueRates = [];
    var wedRates = [];
    var thuRates = [];
    var friRates = [];
    var satRates = [];
    var sunRates = [];

    $("#errorMessage").hide();

    //default rate for a time period is provided by the user in a previous step
    var defaultRate = @rate;
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //Create inital select inputs
        newStartAndEndTime("monday");
        newStartAndEndTime("tuesday");
        newStartAndEndTime("wednesday");
        newStartAndEndTime("thursday");
        newStartAndEndTime("friday");
        newStartAndEndTime("saturday");
        newStartAndEndTime("sunday");

    });


    function removeThis(_this) {
        _this.parentNode.parentNode.remove();
    };

    //called when adding a new time block
    function newStartAndEndTime(day) {

        //creates a new row for defining a new time block
        var formRowDiv = document.createElement('div');
        formRowDiv.className = "form-row";
        formRowDiv.style.margin = "1% 0% 1% 0%";

        //creates div for the start time selector
        var startTimeDiv = document.createElement('div');
        startTimeDiv.className = "col col-2 offset-1";

        //creates input for the start time
        var startTimeInput = document.createElement('input');
        startTimeInput.type = "text";
        startTimeInput.className = "form-control timepicker";
        startTimeInput.classList.add(day + "Starts");
        startTimeInput.onkeypress = false;

        //if this is the first time block being added that day, set it to start at 9:00 A.M.
        if (document.getElementById(day + "HoursContainer").childElementCount < 1)
        {
            startTimeInput.value = "09:00 AM"
        }
        //otherwise, set it to start one hour later than the previous block's end time
        else {
            startTimeInput.value = increaseTimeByOneHour(document.getElementsByClassName(day + "Ends").item(document.getElementsByClassName(day + "Ends").length - 1).value);
        }
        
        //adds a dash between the start and end times
        var dashDiv = document.createElement('div');
        dashDiv.className = "col";

        var dash = document.createElement('p');
        dash.style.textAlign = "center";
        dash.innerHTML = " - ";

        //creates a div for the end time selector
        var endTimeDiv = document.createElement('div');
        endTimeDiv.className = "col col-2";

        //creates input for the end time
        var endTimeInput = document.createElement('input');
        endTimeInput.type = "text";
        endTimeInput.className = "form-control timepicker";
        endTimeInput.classList.add(day + "Ends");
        endTimeInput.onkeypress = false;

        //if this is the first time block being added that day, set it to end at 5:00 P.M.
        if (document.getElementById(day + "HoursContainer").childElementCount < 1) {
            endTimeInput.value = "05:00 PM"
        }
        //otherwise, set it to start one hour later than the start time
        else {
            endTimeInput.value = increaseTimeByOneHour(startTimeInput.value);
        }

        //creates div for the hourly rate input
        var hourlyRateDiv = document.createElement('div');
        hourlyRateDiv.className = "col col-3";

        var hourlyRateLabelDiv = document.createElement('div');
        hourlyRateLabelDiv.className = "";
        hourlyRateLabelDiv.className = "offset-2";

        var hourlyRateLabel = document.createElement('label');
        hourlyRateLabel.innerText = "$"

        //creates the hourly rate input
        var hourlyRateInput = document.createElement('input');
        hourlyRateInput.type = "number";
        hourlyRateInput.className = "form-control";
        hourlyRateInput.classList.add(day + "Rates");
        hourlyRateInput.placeholder = "Hourly rate"
        hourlyRateInput.value = defaultRate;

        //creates the delete button div for the row
        var deleteButtonDiv = document.createElement('div');
        deleteButtonDiv.className = "col col-1";

        //creates the delete button for the row
        var deleteButton = document.createElement('button');
        deleteButton.type = "button";
        deleteButton.className = "close";
        deleteButton.innerHTML = "&times;";
        deleteButton.onclick = function () { removeThis(this) };

        //appends the created divs to position them under the previous time block row in the given day
        formRowDiv.appendChild(startTimeDiv);
        formRowDiv.appendChild(dashDiv);
        formRowDiv.appendChild(endTimeDiv);
        formRowDiv.appendChild(hourlyRateLabelDiv);
        formRowDiv.appendChild(hourlyRateDiv);
        formRowDiv.appendChild(deleteButtonDiv);

        startTimeDiv.append(startTimeInput);
        dashDiv.appendChild(dash);
        endTimeDiv.appendChild(endTimeInput);
        hourlyRateLabelDiv.appendChild(hourlyRateLabel);
        hourlyRateDiv.appendChild(hourlyRateInput);
        deleteButtonDiv.appendChild(deleteButton);
        document.getElementById(day + "HoursContainer").appendChild(formRowDiv);

        //sets the time interval for each input option (30 minutes minimum)
        $('.timepicker').timepicker({
            'step': 30,
        });

        $(".timepicker").keydown(function (e) {
            e.preventDefault();
            return false;
        });
    }

    //submits all time blocks and corresponding rates
    $('#postVenueForm').submit(function () {
        var classVar = document.getElementsByClassName("mondayStarts");
        for (var i = 0; i < classVar.length; i++) {
            monStartTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("mondayEnds");
        for (var i = 0; i < classVar.length; i++) {
            monEndTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("mondayRates");
        for (var i = 0; i < classVar.length; i++) {
            monRates.push(classVar.item(i).value);
        }

        classVar = document.getElementsByClassName("tuesdayStarts");
        for (var i = 0; i < classVar.length; i++) {
            tueStartTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("tuesdayEnds");
        for (var i = 0; i < classVar.length; i++) {
            tueEndTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("tuesdayRates");
        for (var i = 0; i < classVar.length; i++) {
            tueRates.push(classVar.item(i).value);
        }

        classVar = document.getElementsByClassName("wednesdayStarts");
        for (var i = 0; i < classVar.length; i++) {
            wedStartTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("wednesdayEnds");
        for (var i = 0; i < classVar.length; i++) {
            wedEndTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("wednesdayRates");
        for (var i = 0; i < classVar.length; i++) {
            wedRates.push(classVar.item(i).value);
        }

        classVar = document.getElementsByClassName("thursdayStarts");
        for (var i = 0; i < classVar.length; i++) {
            thuStartTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("thursdayEnds");
        for (var i = 0; i < classVar.length; i++) {
            thuEndTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("thursdayRates");
        for (var i = 0; i < classVar.length; i++) {
            thuRates.push(classVar.item(i).value);
        }

        classVar = document.getElementsByClassName("fridayStarts");
        for (var i = 0; i < classVar.length; i++) {
            friStartTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("fridayEnds");
        for (var i = 0; i < classVar.length; i++) {
            friEndTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("fridayRates");
        for (var i = 0; i < classVar.length; i++) {
            friRates.push(classVar.item(i).value);
        }

        classVar = document.getElementsByClassName("saturdayStarts");
        for (var i = 0; i < classVar.length; i++) {
            satStartTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("saturdayEnds");
        for (var i = 0; i < classVar.length; i++) {
            satEndTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("saturdayRates");
        for (var i = 0; i < classVar.length; i++) {
            satRates.push(classVar.item(i).value);
        }

        classVar = document.getElementsByClassName("sundayStarts");
        for (var i = 0; i < classVar.length; i++) {
            sunStartTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("sundayEnds");
        for (var i = 0; i < classVar.length; i++) {
            sunEndTimes.push(classVar.item(i).value);
        }
        classVar = document.getElementsByClassName("sundayRates");
        for (var i = 0; i < classVar.length; i++) {
            sunRates.push(classVar.item(i).value);
        }

        $('#monStart').val(monStartTimes);
        $('#monEnd').val(monEndTimes);
        $('#monRate').val(monRates);

        $('#tueStart').val(tueStartTimes);
        $('#tueEnd').val(tueEndTimes);
        $('#tueRate').val(tueRates);

        $('#wedStart').val(wedStartTimes);
        $('#wedEnd').val(wedEndTimes);
        $('#wedRate').val(wedRates);

        $('#thuStart').val(thuStartTimes);
        $('#thuEnd').val(thuEndTimes);
        $('#thuRate').val(thuRates);

        $('#friStart').val(friStartTimes);
        $('#friEnd').val(friEndTimes);
        $('#friRate').val(friRates);

        $('#satStart').val(satStartTimes);
        $('#satEnd').val(satEndTimes);
        $('#satRate').val(satRates);

        $('#sunStart').val(sunStartTimes);
        $('#sunEnd').val(sunEndTimes);
        $('#sunRate').val(sunRates);

        if (validateHours())
            return true; // return false to cancel form action
        else {
            clearArrays();
            $("#errorMessage").show();
            return false;
        }
    });

    //checks that the hours do not overlap, there are no duplicates and that the start time is before the end time
    function validateHours() {
        for (var i = 0; i < monStartTimes.length; i++) {
            monStartTimes[i] = new Date(Date.parse(["2013/05/29 ", monStartTimes[i].slice(0, monStartTimes[i].length - 2), " ", monStartTimes[i].slice(monStartTimes[i].length - 2)].join('')));
            monEndTimes[i] = new Date(Date.parse(["2013/05/29 ", monEndTimes[i].slice(0, monEndTimes[i].length - 2), " ", monEndTimes[i].slice(monEndTimes[i].length - 2)].join('')));
        }
        
        for (var i = 0; i < tueStartTimes.length; i++) {
            tueStartTimes[i] = new Date(Date.parse(["2013/05/29 ", tueStartTimes[i].slice(0, tueStartTimes[i].length - 2), " ", tueStartTimes[i].slice(tueStartTimes[i].length - 2)].join('')));
            tueEndTimes[i] = new Date(Date.parse(["2013/05/29 ", tueEndTimes[i].slice(0, tueEndTimes[i].length - 2), " ", tueEndTimes[i].slice(tueEndTimes[i].length - 2)].join('')));
        }

        for (var i = 0; i < wedStartTimes.length; i++) {
            wedStartTimes[i] = new Date(Date.parse(["2013/05/29 ", wedStartTimes[i].slice(0, wedStartTimes[i].length - 2), " ", wedStartTimes[i].slice(wedStartTimes[i].length - 2)].join('')));
            wedEndTimes[i] = new Date(Date.parse(["2013/05/29 ", wedEndTimes[i].slice(0, wedEndTimes[i].length - 2), " ", wedEndTimes[i].slice(wedEndTimes[i].length - 2)].join('')));
        }

        for (var i = 0; i < thuStartTimes.length; i++) {
            thuStartTimes[i] = new Date(Date.parse(["2013/05/29 ", thuStartTimes[i].slice(0, thuStartTimes[i].length - 2), " ", thuStartTimes[i].slice(thuStartTimes[i].length - 2)].join('')));
            thuEndTimes[i] = new Date(Date.parse(["2013/05/29 ", thuEndTimes[i].slice(0, thuEndTimes[i].length - 2), " ", thuEndTimes[i].slice(thuEndTimes[i].length - 2)].join('')));
        }

        for (var i = 0; i < friStartTimes.length; i++) {
            friStartTimes[i] = new Date(Date.parse(["2013/05/29 ", friStartTimes[i].slice(0, friStartTimes[i].length - 2), " ", friStartTimes[i].slice(friStartTimes[i].length - 2)].join('')));
            friEndTimes[i] = new Date(Date.parse(["2013/05/29 ", friEndTimes[i].slice(0, friEndTimes[i].length - 2), " ", friEndTimes[i].slice(friEndTimes[i].length - 2)].join('')));
        }

        for (var i = 0; i < satStartTimes.length; i++) {
            satStartTimes[i] = new Date(Date.parse(["2013/05/29 ", satStartTimes[i].slice(0, satStartTimes[i].length - 2), " ", satStartTimes[i].slice(satStartTimes[i].length - 2)].join('')));
            satEndTimes[i] = new Date(Date.parse(["2013/05/29 ", satEndTimes[i].slice(0, satEndTimes[i].length - 2), " ", satEndTimes[i].slice(satEndTimes[i].length - 2)].join('')));
        }

        for (var i = 0; i < sunStartTimes.length; i++) {
            sunStartTimes[i] = new Date(Date.parse(["2013/05/29 ", sunStartTimes[i].slice(0, sunStartTimes[i].length - 2), " ", sunStartTimes[i].slice(sunStartTimes[i].length - 2)].join('')));
            sunEndTimes[i] = new Date(Date.parse(["2013/05/29 ", sunEndTimes[i].slice(0, sunEndTimes[i].length - 2), " ", sunEndTimes[i].slice(sunEndTimes[i].length - 2)].join('')));
        }

        //i = max number of hour row entries
        for (var i = 0; i < 10; i++) {
            //if a start time is greater than or equal to an end time.
            if ((monStartTimes[i] >= monEndTimes[i]) || (tueStartTimes[i] >= tueEndTimes[i]) || (wedStartTimes[i] >= wedEndTimes[i])
                || (thuStartTimes[i] >= thuEndTimes[i]) || (friStartTimes[i] >= friEndTimes[i]) || (satStartTimes[i] >= satEndTimes[i])
                || (sunStartTimes[i] >= sunEndTimes[i]))
                return false;

            //if there are any duplicates in any list, return false
            for (var j = 0; j < 10; j++) {
                if (i == j)
                    continue;

                if (((monStartTimes[i] < monEndTimes[j]) && (monStartTimes[i] >= monStartTimes[j]) && monStartTimes[j] != "")
                    || ((tueStartTimes[i] < tueEndTimes[j]) && (tueStartTimes[i] >= tueStartTimes[j]) && tueStartTimes[j] != "")
                    || ((wedStartTimes[i] < wedEndTimes[j]) && (wedStartTimes[i] >= wedStartTimes[j]) && wedStartTimes[j] != "")
                    || ((thuStartTimes[i] < thuEndTimes[j]) && (thuStartTimes[i] >= thuStartTimes[j]) && thuStartTimes[j] != "")
                    || ((friStartTimes[i] < friEndTimes[j]) && (friStartTimes[i] >= friStartTimes[j]) && friStartTimes[j] != "")
                    || ((satStartTimes[i] < satEndTimes[j]) && (satStartTimes[i] >= satStartTimes[j]) && satStartTimes[j] != "")
                    || ((sunStartTimes[i] < sunEndTimes[j]) && (sunStartTimes[i] >= sunStartTimes[j]) && sunStartTimes[j] != ""))
                    return false;
            } 
        }
        return true;
    }

    //resets start/end time and rate arrays
    function clearArrays() {
        monStartTimes = [];
        tueStartTimes = [];
        wedStartTimes = [];
        thuStartTimes = [];
        friStartTimes = [];
        satStartTimes = [];
        sunStartTimes = [];

        monEndTimes = [];
        tueEndTimes = [];
        wedEndTimes = [];
        thuEndTimes = [];
        friEndTimes = [];
        satEndTimes = [];
        sunEndTimes = [];

        monRates = [];
        tueRates = [];
        wedRates = [];
        thuRates = [];
        friRates = [];
        satRates = [];
        sunRates = [];
    }

    //given a time string, increases it by 1 hour
    function increaseTimeByOneHour(timeStr) {
        var splitedTimeStr = timeStr.split(':');
        var hours = parseInt(splitedTimeStr[0]);
        var minutes = splitedTimeStr[1].match(/[a-z]+|[^a-z]+/gi)[0]
        var meridiem = splitedTimeStr[1].match(/[a-z]+|[^a-z]+/gi)[1]
        var nextHours = (hours + 1);
        var nextMeridiem;
        if (hours >= 11) {
            if (meridiem.toLowerCase() == "am") {
                nextMeridiem = "pm";
            } else if (meridiem.toLowerCase() == "pm") {
                nextMeridiem = "am";
            }
            if (nextHours > 12) {
                nextHours = nextHours - 12;
            }

        } else {
            nextMeridiem = meridiem;
        }
        return nextHours + ":" + minutes + nextMeridiem;
    }

</script>



